body {
    margin: 0px;
}

header  {
    background-color: #FFFA7A;
    align-items: center;
    height: 80px;
    width: auto;
    display: flex;
}

header .menu-button {
    height: 80%;
    width: 100px;
    margin-left: auto;
    display: flex;
    align-items: center;

}

header .menu-button img {
    height: 50%;
}

.header_1 {
    font-size: 200%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.header_2 {
    background: #FFD400;
    padding: 1rem 2rem;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    display: flex;
}

.header_3{
    float:left;
    flex-basis:20%;
}

.header_4{
    flex-basis:20%;
}
